<section class="features18 popup-btn-cards cid-qGCNNVCmDC" id="features18-u">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Проекты</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            Вы можете ознакомиться с нашими типовыми проектами, либо заказать индивидуальный проект дома/бани с учетом Ваших пожеланий</h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="index.html#header15-1q" class="btn btn-primary display-4">Смотреть</a></div>
                        <img src="assets/images/4-4-3-1280x720.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-2">Проекты домов</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-5">
                            Типовые проекты домов из профилированного бруса</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="index.html#header15-1q" class="btn btn-primary display-4">Смотреть</a></div>
                        <img src="assets/images/4-4-3-1280x720.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-2">
                            Проекты бань</h4>
                        <p class="mbr-text mbr-fonts-style display-5">
                           Типовые проекты бань из профилированного бруса
                        </p>
                    </div>
                </div>
            </div>

            

            
        </div>
    </div>
</section>




<section class="mbr-section content8 cid-qGDuKzfLPM" id="content8-z">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="index.html#header15-1q">Заказать индивидуальный проект</a></div>
            </div>
        </div>
    </div>
</section>