---
layout: default
---


{% include hero.html %}

{% include hero-form.html %}

{% include counteres.html %}

{% include project-list.html %}

{% include portfolio-gallery.html %}

{% include proizvodstvo-gallery.html %}

{% include time-line.html %}

{% include otvivi.html %}

{% include stroy-blog.html %}

{% include soc-link.html %}

{% include contacts.html %}

{% include map.html %}

{% include form.html %}

{% include accordion.html %}

{% include article-body.html %}

{% include article-citat.html %}

{% include article-number.html %}

{% include article-check.html %}





<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.posts.size > 0 %}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h3>
        </li>
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
